#kyc-container .active {
  background-color: #f00;
}

#kyc-container {
  width: max-content;
  display: inline;
  float: left;
}

#debug-canvas {
  width: max-content;
  display: inline;
  float: left;
}