#kyc-container .active {
  background-color: #f00;
}

#kyc-container {
  width: 80vw;
  height: 80vh;
  display: inline;
  float: left;
}

.camera-stream {
  width: inherit;
  height: inherit;
}

.action-box {
  position: relative;
  top: -30px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#debug-canvas {
  width: max-content;
  display: inline;
  position: fixed;
  top: 0;
  right: 0;
}

.action-box {
}