<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.files.favicon %>">
    <link  rel="shortcut icon">

    <meta name="viewport" content="width=device-width, initial-scale=1"></head>
  <body>

    <div id="kyc-container" class="row"></div>
    <div v-if="debug" class="col-6" id="debug-canvas"></div>
    <progress id="capture-progress" max="100" value="0">0%</progress>

  </body>
</html>