#kyc-container .active {
  background-color: #f00;
  color: #fff;
}
div#session-form {
  width: fit-content;
  background: #3498db;
  margin: auto;
  padding: 46vh 0;
  min-height: 5vh;
  color: white;
}
body{
  background: #3498db;
}
#kyc-container {
  height: 80vh;
  max-width: 85vw;
  width: max-content;
  margin: auto;
  /* display: inline; */
  /* float: left; */
}

.camera-stream {
  width: inherit;
  max-width: 85vw;
  height: inherit;
}

.action-box {
  position: relative;
  bottom: 30px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#debug-canvas {
  width: max-content;
  display: inline;
  position: fixed;
  top: 0;
  right: 0;
}

.action-box {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
li.verified {
  color: #0b957a;
}
#capture-progress {
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 95%;
  right: 20px;
}
#jobs-list {
  position: absolute;
  top: 3rem;
  height: 4rem;
  right: 3rem;
  background: #ffffff60;
  border-radius: 5px;
}
#text-box {
  position: absolute;
  top: 10rem;
  height: 1.4rem;
  right: 3rem;
  background: #ffffff60;
  border-radius: 5px;
}
button{
  background: white;
  border-radius: 10px;
  border: none;
  padding: 5px;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#container {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  /* margin: 0 50px; */
  min-width: 55vw;
  width: max-content;
  height: max-content;
  position: relative;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
