<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.files.favicon %>">
  <link rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="session-form">
    <input id="session-key" name="session-key" type="text" placeholder="F8751D81-C4AD-471E-A0F5-CC8C48677A55">
    <form>
      <input type="radio" name="env" value="normal" id="env-normal" checked>
      <label for="env-normal">normal</label>
      <input type="radio" name="env" value="low-performance" id="env-low-performance">
      <label for="env-low-performance">low-performance</label>
    </form>
    <button id="session-btn">use</button>
  </div>

  <div id="kyc-modal" class="modal">
    <div id="container">
      <progress id="capture-progress" max="100" value="0">0%</progress>
      <ul id="text-box"></ul>
      <div id="kyc-container" class="row"></div>
      <ul id="jobs-list"></ul>
      <!-- <div v-if="debug" class="col-6" id="debug-canvas"></div> -->
    </div>
  </div>

</body>

</html>